.productCard{
       width: 250px;
    
}
.productCard_img{
    position: relative;
    cursor: pointer;
}



.productCard_img img:last-child{
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
}
.productCard_img:hover img:first-child{
    opacity: 0;
    transition: opacity .5s;
}
.productCard_img:hover img:last-child{
    position: absolute;
    top: 0;
    opacity: 1;
    transform: translate(-50%);
    left: 50%;
    transition: opacity .5s;
}

.productButtons{
    display: flex;
    justify-content: space-evenly;
}